<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Welcome {{user[0]["first_name"]}} {{user[0]["last_name"]}}!
    <p>First name: {{user[0]["first_name"]}}</p>
    <p>Last name: {{user[0]["last_name"]}}</p>
    <p>Email: {{user[0]["email"]}}</p>
    <p>Created at: {{user[0]["created_at"]}}</p>
    <a href="/logout">Log Out</a>
</body>
</html>